
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.images {
  width: 100%;
  height: auto;
  margin-top: -76px;
}
#anchors {
  text-decoration: none;
  color: white;
}


.headline {
  height: 75vh;
  width: 100vw;
  padding: 3rem 15%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: antiquewhite;
}

* {
  /* border: 1px solid red; */

}
#svgs {
  margin: 1rem;
  padding: 1rem;
  height: 4rem;
  width: 4rem;
  color: white;
  transition: all 0.3s ease;
}

#svgs:hover {
  color: rgb(255, 64, 64);
}

nav {
  box-shadow: 0 10px 30px rgba(202, 202, 202, 0.678);
  width: 100%;
}

.nav {
  background: white;
  position: sticky;
  top: 0;
  z-index: 5;
}

.nav-a {
  color: grey;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 0.5rem;
}

.nav-a:hover {
  color: rgb(255, 64, 64);
}

.card {
  border: none;
  box-shadow: 0 0 30px rgba(202, 202, 202, 0.678);
  transition: all 0.7s ease;
}

.card:hover {
  transform: translateY(-0.5rem);
}

.img-con {
  height: 100%;
  overflow: hidden;
  padding: 0;
}

.img-fluid {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  transition: all 0.5s ease;
}

.img-fluid:hover {
  transform: scale(130%);
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer h3{
  animation: offer 1s ease-in-out alternate infinite;
}

@keyframes offer {
  from{
    font-weight: 600;
  }
  to{
    font-weight: 700;
  }
}

.details{
  margin-bottom: 3rem;
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: rgb(24, 24, 24);
  width: 100%;
}

.svgs {
  display: flex;
  justify-content: center;
}

.foot-a {
  font-size: 1.2rem;
  padding: 1rem;
  transition: all 0.3s ease;
}

#anchors:hover {
  color: rgb(255, 64, 64);
}

.foot-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.copyright {
  font-size: 0.7rem;
  padding: 0 1rem 1rem 1rem;
  color: white;
}

.order {
  border: none;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 30px rgba(202, 202, 202, 0.678);
  transition: all 0.3s ease;
  color: rgb(255, 64, 64);
}

.order:hover {
  background: whitesmoke;
  box-shadow: none;
}


.carousel-inner .carousel-item{
	height: 100vh !important;
}
.banner{
	height: 100vh;
	background-position: center;
  
}
.main-menu-logo{
	position: fixed;
	top:0;
	z-index: 100;
	width: 100%;
	background: #b1b1b14f;
}
.navbar-brand{
	font-size: 30px;
	font-weight: bold;
	color: rgb(199, 17, 17) !important;
}
.nav-item a{
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding: 0px 20px !important;
	color: rgb(112, 54, 54) !important;
}
.nav-item a:hover{
	color: #000 !important;
}
.carousel-caption{
	bottom: 40%;
	display: block !important;
}
.carousel-caption h1{
	font-size: 100px;
	letter-spacing: 2px;
	color:  #ffb221;
 
}
.carousel-caption h2{
	font-size: 80px;
	letter-spacing: 2px;
	color:  hsl(0, 100%, 92%);
	font: 900 80px Montserrat;
	text-shadow: 0 15px 25px rgba(29, 28, 28, 0.3);
}
.carousel-caption h3{
	font-size: 60px;
	letter-spacing: 2px;
	color:  #c49dff;
}

@media (min-width: 0px) and (max-width: 768px) {
  .carousel-caption{
    bottom: 30%;
    display: block !important;
  }
  
  .carousel-caption h1{
    font-size: 30px;
    letter-spacing: 2px;
  }
  .carousel-caption h2{
    font-size: 20px;
    letter-spacing: 2px;
  }
  .carousel-caption h3{
    font-size: 18px;
    letter-spacing: 2px;
  }

}